@property --angle {
  syntax: "<angle>"; /*<color>, <percentage>, <length>, <image>, <number>*/
  inherits: false;
  initial-value: 90deg;
}

button {
  background: linear-gradient(
    var(--angle),
    #3e4cea,
    #6e19f7,
    #a228ff,
    #d85bfe 100%
  );
  transition: --angle 0.2s linear;
}
button:hover {
  --angle: -90deg;
}
